<!-- Header-->
<app-header id="top"></app-header>

<!-- Page container-->
<div class="container mt-5 mb-md-4 py-5">
  <div class="row py-md-1">
    <!-- Filers sidebar (Offcanvas on mobile)-->
    <div class="col-lg-3 pe-xl-4">
      <div class="offcanvas offcanvas-start offcanvas-collapse bg-dark" id="filters-sidebar">
        <div class="offcanvas-header bg-transparent d-flex d-lg-none align-items-center">
          <h2 class="h5 text-light mb-0">Filters</h2>
          <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" (click)="SidebarHide()"></button>
        </div>
        <div class="offcanvas-header bg-transparent d-block border-bottom border-light pt-0 pt-lg-4 px-lg-0">
          <ul class="nav nav-tabs nav-tabs-light mb-0">
            <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Search New</a></li>
            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">Search Used</a></li>
          </ul>
        </div>
        <div class="offcanvas-body py-lg-4">
          <div class="pb-3 mb-4 border-bottom border-light">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <h3 class="h6 text-light mb-0">Selection</h3>
              <button class="btn btn-link btn-light fw-normal fs-sm p-0" type="button">Clear all</button>
            </div>
            <ul class="nav nav-pills nav-pills-light flex-row fs-sm mx-0">
              <li class="nav-item mb-2 me-2">
                <button class="nav-link px-3" type="button">Under 2019<i class="fi-x fs-xxs ms-2"></i></button>
              </li>
              <li class="nav-item mb-2 me-2">
                <button class="nav-link px-3">Crossover<i class="fi-x fs-xxs ms-2"></i></button>
              </li>
              <li class="nav-item mb-2 me-2">
                <button class="nav-link px-3" type="button">Sedan<i class="fi-x fs-xxs ms-2"></i></button>
              </li>
              <li class="nav-item mb-2 me-2">
                <button class="nav-link px-3" type="button">SUV<i class="fi-x fs-xxs ms-2"></i></button>
              </li>
              <li class="nav-item mb-2 me-2">
                <button class="nav-link px-3" type="button">Diesel<i class="fi-x fs-xxs ms-2"></i></button>
              </li>
              <li class="nav-item mb-2 me-2">
                <button class="nav-link px-3" type="button">Gasoline<i class="fi-x fs-xxs ms-2"></i></button>
              </li>
              <li class="nav-item mb-2 me-2">
                <button class="nav-link px-3" type="button">Hybrid<i class="fi-x fs-xxs ms-2"></i></button>
              </li>
            </ul>
          </div>
          <div class="pb-4 mb-2">
            <h3 class="h6 text-light">Location</h3>
            <select class="form-select form-select-light mb-2" id="location" (change)="LocationSearch();">
              <option value="" selected>Select location</option>
              <option value="Chicago">Chicago</option>
              <option value="Dallas">Dallas</option>
              <option value="Los Angeles">Los Angeles</option>
              <option value="New York">New York</option>
              <option value="San Diego">San Diego</option>
            </select>
          </div>
          <div class="pb-4 mb-2 simplebar-scroll-show">
            <h3 class="h6 text-light">Body Type</h3>
            <ngx-simplebar style="height: 11rem;" class="overflow-auto">
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="sedan" (click)="changeType($event,'sedan')">
                <label class="form-check-label fs-sm" for="sedan">Sedan</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="suv" (click)="changeType($event,'suv')">
                <label class="form-check-label fs-sm" for="suv">SUV</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="wagon" (click)="changeType($event,'wagon')">
                <label class="form-check-label fs-sm" for="wagon">Wagon</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="crossover" (click)="changeType($event,'crossover')">
                <label class="form-check-label fs-sm" for="crossover">Crossover</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="coupe" (click)="changeType($event,'coupe')">
                <label class="form-check-label fs-sm" for="coupe">Coupe</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="pickup" (click)="changeType($event,'pickup')">
                <label class="form-check-label fs-sm" for="pickup">Pickup</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="sport" (click)="changeType($event,'sport')">
                <label class="form-check-label fs-sm" for="sport">Sport Coupe</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="compact" (click)="changeType($event,'compact')">
                <label class="form-check-label fs-sm" for="compact">Compact</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="convertible" (click)="changeType($event,'convertible')">
                <label class="form-check-label fs-sm" for="convertible">Convertible</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="mpv" (click)="changeType($event,'mpv')">
                <label class="form-check-label fs-sm" for="mpv">Family MPV</label>
              </div>
            </ngx-simplebar>
          </div>
          <div class="pb-4 mb-2">
            <h3 class="h6 text-light pt-1">Year</h3>
            <div class="d-flex align-items-center">
              <select class="form-select form-select-light w-100" id="from_year" (change)="fromYear();">
                <option value="" disabled selected>From</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
              </select>
              <div class="mx-2">&mdash;</div>
              <select class="form-select form-select-light w-100" id="to_year" (change)="fromYear();">
                <option value="" disabled>To</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019" selected>2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
              </select>
            </div>
          </div>
          <div class="pb-4 mb-2">
            <h3 class="h6 text-light">Make &amp; Model</h3>
            <select class="form-select form-select-light mb-2" id="make" (change)="makeFilter();">
              <option value="" disabled selected>Any make</option>
              <option value="Audi">Audi</option>
              <option value="Infiniti">Infiniti</option>
              <option value="Honda">Honda</option>
              <option value="Hyundai">Hyundai</option>
              <option value="Lexus">Lexus</option>
              <option value="Mazda">Mazda</option>
              <option value="Mitsubishi">Mitsubishi</option>
              <option value="Mercedes-Benz">Mercedes-Benz</option>
              <option value="Nissan">Nissan</option>
              <option value="Opel">Opel</option>
              <option value="Renault">Renault</option>
              <option value="Toyota">Toyota</option>
            </select>
            <select class="form-select form-select-light mb-1" id="model" (change)="modelFilter();">
              <option value="" disabled selected>Any model</option>
              <option value="Altima">Altima</option>
              <option value="Juke">Juke</option>
              <option value="Leaf">Leaf</option>
              <option value="Maxima">Maxima</option>
              <option value="Micra">Micra</option>
              <option value="Murano">Murano</option>
              <option value="Note">Note</option>
              <option value="Pathfinder">Pathfinder</option>
              <option value="Patrol">Patrol</option>
            </select>
          </div>
          <div class="pb-4 mb-2">
            <h3 class="h6 text-light">Price</h3>
            <div class="range-slider range-slider-light mb-3" data-start-min="25000" data-start-max="65000" data-min="4000" data-max="100000" data-step="1000">
              <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (valueChange)="valueChange($event,true)" (highValueChange)="valueChange($event,false)"></ngx-slider>
              <div class="d-flex align-items-center mt-3">
                <div class="w-50 pe-2">
                  <input class="form-control form-control-light range-slider-value-min" type="text" value="{{minValue}}">
                </div>
                <div class="text-muted">&mdash;</div>
                <div class="w-50 ps-2">
                  <input class="form-control form-control-light range-slider-value-max" type="text" value="{{maxValue}}">
                </div>
              </div>
            </div>
            <div class="form-check form-switch form-switch-light">
              <input class="form-check-input" type="checkbox" id="negotiated-price">
              <label class="form-check-label fs-sm" for="negotiated-price">Negotiated price</label>
            </div>
          </div>
          <div class="pb-4 mb-2">
            <h3 class="h6 text-light">Drivetrain</h3>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="awd" (click)="drivetrainFilter($event,'awd')">
              <label class="form-check-label fs-sm" for="awd">AWD/4WD</label>
            </div>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="front-wheel" (click)="drivetrainFilter($event,'front-wheel')">
              <label class="form-check-label fs-sm" for="front-wheel">Front Wheel Drive</label>
            </div>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="rear-wheel" (click)="drivetrainFilter($event,'rear-wheel')">
              <label class="form-check-label fs-sm" for="rear-wheel">Rear Wheel Drive</label>
            </div>
          </div>
          <div class="pb-4 mb-2">
            <h3 class="h6 text-light">Fuel Type</h3>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="diesel" (click)="fuelFilter($event,'Diesel')">
              <label class="form-check-label fs-sm" for="diesel">Diesel</label>
            </div>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="electric" (click)="fuelFilter($event,'Electric')">
              <label class="form-check-label fs-sm" for="electric">Electric</label>
            </div>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="gasoline" (click)="fuelFilter($event,'Gasoline')">
              <label class="form-check-label fs-sm" for="gasoline">Gasoline</label>
            </div>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="hybrid" (click)="fuelFilter($event,'Hybrid')">
              <label class="form-check-label fs-sm" for="hybrid">Hybrid</label>
            </div>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="hydrogen" (click)="fuelFilter($event,'Hydrogen')">
              <label class="form-check-label fs-sm" for="hydrogen">Hydrogen</label>
            </div>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="plugin" (click)="fuelFilter($event,'Plugin')">
              <label class="form-check-label fs-sm" for="plugin">Plug-in Hybrid</label>
            </div>
          </div>
          <div class="pb-4 mb-1">
            <h3 class="h6 text-light">Transmission</h3>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="auto" (click)="transmissionFilter($event,'Automatic')">
              <label class="form-check-label fs-sm" for="auto">Automatic</label>
            </div>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="manual" (click)="transmissionFilter($event,'Manual')">
              <label class="form-check-label fs-sm" for="manual">Manual</label>
            </div>
          </div>
          <div class="pb-4 mb-2">
            <h3 class="h6 text-light pt-1">Mileage</h3>
            <div class="d-flex align-items-center">
              <input class="form-control form-control-light w-100" type="number" min="0" step="500" placeholder="From" id="fomValue" (keyup)="mileageSearch()">
              <div class="mx-2">&mdash;</div>
              <input class="form-control form-control-light w-100" type="number" min="0" step="500" placeholder="To" id="toValue" (keyup)="mileageSearch()">
            </div>
          </div>
          <div class="pb-4 mb-2 simplebar-scroll-show">
            <h3 class="h6 text-light">Color</h3>
            <ngx-simplebar style="height: 11rem;" class="overflow-auto">
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="amber" (click)="colorFilter($event,'amber')">
                <label class="form-check-label fs-sm" for="amber">Amber</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="azure" (click)="colorFilter($event,'azure')">
                <label class="form-check-label fs-sm" for="azure">Azure</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="beige" (click)="colorFilter($event,'beige')">
                <label class="form-check-label fs-sm" for="beige">Beige</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="black" (click)="colorFilter($event,'black')">
                <label class="form-check-label fs-sm" for="black">Black</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="blue" (click)="colorFilter($event,'blue')">
                <label class="form-check-label fs-sm" for="blue">Blue</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="brown" (click)="colorFilter($event,'brown')">
                <label class="form-check-label fs-sm" for="brown">Brown</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="camouflage" (click)="colorFilter($event,'camouflage')">
                <label class="form-check-label fs-sm" for="camouflage">Camouflage green</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="charcoal" (click)="colorFilter($event,'charcoal')">
                <label class="form-check-label fs-sm" for="charcoal">Charcoal</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="gray" (click)="colorFilter($event,'gray')">
                <label class="form-check-label fs-sm" for="gray">Gray</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="green" (click)="transmissionFilter($event,'green')">
                <label class="form-check-label fs-sm" for="green">Green</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="gold" (click)="transmissionFilter($event,'gold')">
                <label class="form-check-label fs-sm" for="gold">Gold</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="purple" (click)="transmissionFilter($event,'purple')">
                <label class="form-check-label fs-sm" for="purple">Purple</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="red" (click)="transmissionFilter($event,'red')">
                <label class="form-check-label fs-sm" for="red">Red</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="white" (click)="transmissionFilter($event,'white')">
                <label class="form-check-label fs-sm" for="white">White</label>
              </div>
              <div class="form-check form-check-light">
                <input class="form-check-input" type="checkbox" id="yellow" (click)="transmissionFilter($event,'yellow')">
                <label class="form-check-label fs-sm" for="yellow">Yellow</label>
              </div>
            </ngx-simplebar>
          </div>
          <div class="pb-2">
            <h3 class="h6 text-light">Sellers</h3>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="dealers" (click)="sellersFilter($event,'dealers')">
              <label class="form-check-label fs-sm" for="dealers">Dealers Only</label>
            </div>
            <div class="form-check form-check-light">
              <input class="form-check-input" type="checkbox" id="private-sellers" (click)="sellersFilter($event,'private-sellers')">
              <label class="form-check-label fs-sm" for="private-sellers">Private Sellers Only</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Catalog grid view-->
    <div class="col-lg-9">
      <!-- Breadcrumb-->
      <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
      <!-- Page title-->
      <div class="d-flex align-items-center justify-content-between pb-4 mb-2">
        <h1 class="text-light me-3 mb-0">Used cars</h1>
        <div class="text-light"><i class="fi-car fs-lg me-2"></i><span class="align-middle">{{dataCount}} offers</span>
        </div>
      </div>
      <!-- Sorting + View-->
      <div class="d-sm-flex align-items-center justify-content-between pb-4 mb-2">
        <div class="d-flex align-items-center me-sm-4">
          <label class="fs-sm text-light me-2 pe-1 text-nowrap" for="sorting1"><i class="fi-arrows-sort mt-n1 me-2"></i>Sort by:</label>
          <select class="form-select form-select-light form-select-sm me-sm-4" id="sorting1" (click)="SortFilter();">
            <option value="">Newest</option>
            <option value="Dtitle">Popular</option>
            <option value="Dprice">Price: Low - High</option>
            <option value="Aprice">Price: Hight - Low</option>
          </select>
          <div class="d-none d-md-block border-end border-light" style="height: 1.25rem;"></div>
          <div class="d-none d-sm-block fw-bold text-light opacity-70 text-nowrap ps-md-4"><i class="fi-switch-horizontal me-2"></i><span class="align-middle">Compare (0)</span></div>
        </div>
        <div class="d-none d-sm-flex"><a class="nav-link nav-link-light px-2" routerLink="/catalog/list" placement="top" ngbTooltip="List view"><i class="fi-list"></i></a><a class="nav-link nav-link-light px-2 active" routerLink="/catalog/grid" placement="top" ngbTooltip="Grid view"><i class="fi-grid"></i></a></div>
      </div>
      <div class="row">
        <!-- Item-->
        @for(data of gridDatas | sortBy:sortBy:sortField;track $index){
        <div class="col-sm-6 mb-4">
          <div class="card card-light card-hover h-100">
            <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay" routerLink="/catalog/single"></a>
              <div class="position-absolute start-0 top-0 pt-3 ps-3">
                <span class="d-table badge bg-info mb-1">{{data.verified_btn}}</span>
                <span class="d-table badge {{data.btn_color}}" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-html="true">{{data.btn}}</span>
              </div>
              <div class="content-overlay end-0 top-0 pt-3 pe-3">
                <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" placement="left" ngbTooltip="Add to Wishlist"><i class="fi-heart"></i></button>
              </div>

              <ngx-slick-carousel class="carousel" [config]="config">
                
                @for(data of data.image;track $index){
                <div ngxSlickItem>
                  <img src="{{data.img}}" alt="Image">
                </div>
                }
              </ngx-slick-carousel>
            </div>
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between pb-1"><span class="fs-sm text-light me-3">{{data.year}}</span>
                <div class="form-check form-check-light">
                  <input class="form-check-input" type="checkbox" id="compare1">
                  <label class="form-check-label fs-sm" for="compare1">Compare</label>
                </div>
              </div>
              <h3 class="h6 mb-1"><a class="nav-link-light" routerLink="/catalog/single">{{data.title}}</a></h3>
              <div class="text-primary fw-bold mb-1">${{data.price}}</div>
              <div class="fs-sm text-light opacity-70"><i class="fi-map-pin me-1"></i>{{data.country}}</div>
            </div>
            <div class="card-footer border-0 pt-0">
              <div class="border-top border-light pt-3">
                <div class="row g-2">
                  <div class="col me-sm-1">
                    <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-dashboard d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">{{data.avg}}K mi</span></div>
                  </div>
                  <div class="col me-sm-1">
                    <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-gearbox d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">{{data.eng}}</span></div>
                  </div>
                  <div class="col">
                    <div class="bg-dark rounded text-center w-100 h-100 p-2"><i class="fi-petrol d-block h4 text-light mb-0 mx-center"></i><span class="fs-xs text-light">{{data.fuel}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        }

      </div>
      <!-- Sorting + Pagination-->
      <div class="d-flex align-items-center justify-content-between py-2">
        <div class="d-flex align-items-center me-sm-4">
          <label class="fs-sm text-light me-2 pe-1 text-nowrap" for="sorting2"><i class="fi-arrows-sort mt-n1 me-2"></i>Sort by:</label>
          <select class="form-select form-select-light form-select-sm me-2 me-sm-4" id="sorting2">
            <option>Newest</option>
            <option>Popular</option>
            <option>Price: Low - High</option>
            <option>Price: Hight - Low</option>
          </select>
          <div class="d-none d-md-block border-end border-light" style="height: 1.25rem;"></div>
          <div class="d-none d-md-block fw-bold text-light opacity-70 text-nowrap ps-md-4"><i class="fi-switch-horizontal me-2"></i><span class="align-middle">Compare (0)</span></div>
        </div>
        <nav aria-label="Pagination">
          <ul class="pagination pagination-light mb-0">
            <li class="page-item d-sm-none text-nowrap"><span class="page-link page-link-static">1 / 5</span></li>
            <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item d-none d-sm-block">...</li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0);">8</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);" aria-label="Next"><i class="fi-chevron-right"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Footer-->
<app-footer></app-footer>

<button class="btn btn-primary btn-sm w-100 rounded-0 fixed-bottom d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#filters-sidebar" (click)="FilterSidebar()"><i class="fi-filter me-2"></i>Filters</button>
<div class="vertical-overlay" (click)="SidebarHide()"></div>