<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>
  <!-- Page container-->
  <section class="position-relative mb-5 pt-5 pb-lg-5">
    <!-- Overlay bg-->
    <span class="d-block position-absolute top-0 left-0 w-100 h-100 zindex-1"
      style="background: linear-gradient(26.21deg, rgba(93, 60, 242, 0.15) 0%, rgba(253, 86, 49, 0.15) 108.88%);"></span>
    <div class="container position-relative zindex-5 py-5">
      <!-- Title + Breadcrumb-->
      <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

      <div class="col-lg-8 col-md-10 mx-auto px-0 pt-2">
        <h1 class="mb-4 pb-2 text-center text-light">Hello, what can we do for you?</h1>
        <!-- Search form-->
        <form class="form-group form-group-light mb-4">
          <input class="form-control form-control-lg" type="text" placeholder="What are you looking for?">
          <button class="btn btn-lg btn-primary px-sm-4 px-3" type="submit"><i class="fi-search me-sm-2"></i><span
              class="d-sm-inline d-none">Search</span></button>
        </form>
        <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-center">
          <div class="pb-3 mb-2 me-2 flex-shrink-0 fw-bold text-light opacity-70">Popular sections:</div>
          <div class="text-nowrap overflow-auto pb-3">
            <div><a class="btn btn-xs btn-translucent-light fw-normal mb-2 me-2" href="javascript:void(0);">General
                inquiries</a><a class="btn btn-xs btn-translucent-light fw-normal mb-2 me-2"
                href="javascript:void(0);">Warranties &amp; more</a><a
                class="btn btn-xs btn-translucent-light fw-normal mb-2 me-2" href="javascript:void(0);">Account
                questions</a><a class="btn btn-xs btn-translucent-light fw-normal mb-2 me-2"
                href="javascript:void(0);">Payment &amp; Documentation</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ-->
  <section class="container mb-5 pt-1 pb-2 py-lg-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <h2 class="h3 mb-4 pb-3 text-light text-center">Frequently Asked Questions</h2>
        <!-- Nav tabs-->
        <div class="overflow-auto mx-n2">
          <ul ngbNav #nav="ngbNav" [activeId]="1"
            class="nav nav-tabs nav-tabs-light nav-fill flex-nowrap mb-md-4 mb-3 text-nowrap">
            <li [ngbNavItem]="1" class="nav-item w-100 px-2">
              <a ngbNavLink>
                General questions
              </a>
              <ng-template ngbNavContent>
                <div ngbAccordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                  <div ngbAccordionItem id="static-1">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-2" data-bs-toggle="collapse"
                      data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                      <button ngbAccordionButton> How do I take the best pictures of my car?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Porta mi integer lectus cras augue
                            amet tellus. Mus in justo orci est urna facilisis vitae.
                            Sem sagittis potenti scelerisque justo, etiam pharetra. In augue egestas nec rhoncus. Lectus
                            tincidunt phasellus eu in erat eget id egestas nec.
                            Purus massa blandit nibh ut sed tellus. Sit cras aliquam velit tellus leo. Sed vulputate
                            erat dui eros, viverra. Cursus et nulla turpis sit.
                            Egestas at non elementum non. Molestie nunc, diam etiam diam. Ac et turpis vestibulum porta.
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-2">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-2" data-bs-toggle="collapse"
                      data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                      <button ngbAccordionButton> How do I take the best pictures of my car? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Porta mi integer lectus cras augue
                          amet tellus. Mus in justo orci est urna facilisis vitae. Sem sagittis potenti scelerisque justo,
                          etiam pharetra. In augue egestas nec rhoncus. Lectus tincidunt phasellus eu in erat eget id
                          egestas nec. Purus massa blandit nibh ut sed tellus. Sit cras aliquam velit tellus leo. Sed
                          vulputate erat dui eros, viverra. Cursus et nulla turpis sit. Egestas at non elementum non.
                          Molestie nunc, diam etiam diam. Ac et turpis vestibulum porta.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-3">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-3" data-bs-toggle="collapse"
                      data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                      <button ngbAccordionButton> Can I sell a vehicle if I live outside of the United States?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Delectus perferendis libero ad
                          sapiente unde cupiditate vero error autem ex sed culpa beatae vel, alias amet quam officiis
                          repudiandae ab nobis! Animi ullam obcaecati praesentium at officia quos doloremque nihil aperiam
                          debitis quasi placeat atque, amet laborum illo voluptates autem totam in mollitia! At, autem,
                          ipsum quam minima doloribus distinctio aspernatur id et, cum reiciendis iste officia. Architecto
                          tempore deserunt voluptates?</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-4">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-4" data-bs-toggle="collapse"
                      data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                      <button ngbAccordionButton> How does the buyer get in contact with me and make payment? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Impedit iusto cum vitae pariatur.
                          Veritatis totam neque, libero non odio doloremque sequi ut, delectus optio cumque rerum illum?
                          Libero corrupti neque magnam aliquam tempora debitis at voluptate alias, facilis ipsa
                          dignissimos repellendus quaerat soluta dolorem ad ipsam nemo quisquam voluptatum quibusdam
                          dolorum. Labore qui saepe ducimus iure fuga accusamus, commodi quod ex sed excepturi corrupti!
                          Ducimus natus repellendus placeat mollitia harum nostrum similique earum qui ratione?</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-5">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-5" data-bs-toggle="collapse"
                      data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                      <button ngbAccordionButton> Who writes the listing description for my car? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Facere unde eveniet explicabo quidem,
                          quaerat, nesciunt, minus in vel incidunt natus qui recusandae neque laudantium est vitae ipsam?
                          Dolores natus nesciunt culpa accusantium tempora, recusandae, debitis, labore maxime a optio
                          similique rem nam fuga vel doloremque suscipit repellendus veritatis necessitatibus. Architecto
                          sit qui dolorum nihil ea!</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-6">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-6" data-bs-toggle="collapse"
                      data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                      <button ngbAccordionButton> Are there rules to follow in the comments? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Perspiciatis iste atque in quis
                          recusandae libero maxime, quo sed itaque, totam quaerat earum dolorum accusantium? Optio quidem
                          aliquam corporis, nesciunt nobis incidunt numquam commodi debitis cumque quisquam eum veniam
                          quae eaque voluptates totam culpa aperiam sapiente minima sint sit facere dolorum excepturi ab
                          odit? Adipisci exercitationem distinctio dolores obcaecati eligendi explicabo, ipsa dicta,
                          tempore, enim molestias excepturi nihil vel! Quas, culpa.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-7">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-7" data-bs-toggle="collapse"
                      data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                      <button ngbAccordionButton> What currency does Finder use? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Dolores assumenda dolorem saepe,
                            consequatur praesentium alias numquam accusantium explicabo distinctio omnis voluptatum eum enim
                            aspernatur vel, minus optio dolore ratione quasi sunt. Ab distinctio laborum dolore explicabo
                            hic omnis iste quibusdam minus mollitia ad voluptate suscipit accusantium, laudantium sapiente?
                            Aperiam est minus veniam explicabo repellendus id velit sit adipisci quam in!</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-8">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-8" data-bs-toggle="collapse"
                      data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
                      <button ngbAccordionButton> How do I contact a seller privately? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-80 p-0">Exercitationem vel perferendis
                            temporibus corrupti laudantium sapiente. Nihil doloremque, tempora possimus cum aut cupiditate
                            blanditiis, voluptates amet exercitationem officia nam animi distinctio sapiente iste ratione
                            neque aspernatur? Voluptatum, nostrum maiores perspiciatis dolore consequatur minus voluptatem,
                            numquam sunt voluptate esse fugiat illum culpa praesentium. Hic dicta quam id.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="nav-item w-100 px-2">
              <a ngbNavLink>
                Buy or rent cars
              </a>
              <ng-template ngbNavContent>
                <div ngbAccordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                  <div ngbAccordionItem id="static-1">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-2" data-bs-toggle="collapse"
                      data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                      <button ngbAccordionButton> How do I take the best pictures of my car? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Porta mi
                            integer lectus cras augue amet tellus. Mus in justo orci est urna facilisis vitae. Sem sagittis
                            potenti scelerisque justo, etiam pharetra. In augue egestas nec rhoncus. Lectus tincidunt
                            phasellus eu in erat eget id egestas nec. Purus massa blandit nibh ut sed tellus. Sit cras
                            aliquam velit tellus leo. Sed vulputate erat dui eros, viverra. Cursus et nulla turpis sit.
                            Egestas at non elementum non. Molestie nunc, diam etiam diam. Ac et turpis vestibulum porta.
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-2">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-2" data-bs-toggle="collapse"
                      data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                      <button ngbAccordionButton> How do I take the best pictures of my car? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Porta mi integer lectus cras augue
                          amet tellus. Mus in justo orci est urna facilisis vitae. Sem sagittis potenti scelerisque justo,
                          etiam pharetra. In augue egestas nec rhoncus. Lectus tincidunt phasellus eu in erat eget id
                          egestas nec. Purus massa blandit nibh ut sed tellus. Sit cras aliquam velit tellus leo. Sed
                          vulputate erat dui eros, viverra. Cursus et nulla turpis sit. Egestas at non elementum non.
                          Molestie nunc, diam etiam diam. Ac et turpis vestibulum porta.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-3">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-3" data-bs-toggle="collapse"
                      data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                      <button ngbAccordionButton> Can I sell a vehicle if I live outside of the United States? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Delectus perferendis libero ad
                            sapiente unde cupiditate vero error autem ex sed culpa beatae vel, alias amet quam officiis
                            repudiandae ab nobis! Animi ullam obcaecati praesentium at officia quos doloremque nihil aperiam
                            debitis quasi placeat atque, amet laborum illo voluptates autem totam in mollitia! At, autem,
                            ipsum quam minima doloribus distinctio aspernatur id et, cum reiciendis iste officia. Architecto
                            tempore deserunt voluptates?</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-4">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-4" data-bs-toggle="collapse"
                      data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                      <button ngbAccordionButton> How does the buyer get in contact with me and make payment? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Impedit iusto cum vitae pariatur.
                            Veritatis totam neque, libero non odio doloremque sequi ut, delectus optio cumque rerum illum?
                            Libero corrupti neque magnam aliquam tempora debitis at voluptate alias, facilis ipsa
                            dignissimos repellendus quaerat soluta dolorem ad ipsam nemo quisquam voluptatum quibusdam
                            dolorum. Labore qui saepe ducimus iure fuga accusamus, commodi quod ex sed excepturi corrupti!
                            Ducimus natus repellendus placeat mollitia harum nostrum similique earum qui ratione?</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-5">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-5" data-bs-toggle="collapse"
                      data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                      <button ngbAccordionButton> Who writes the listing description for my car? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Facere unde eveniet explicabo quidem,
                          quaerat, nesciunt, minus in vel incidunt natus qui recusandae neque laudantium est vitae ipsam?
                          Dolores natus nesciunt culpa accusantium tempora, recusandae, debitis, labore maxime a optio
                          similique rem nam fuga vel doloremque suscipit repellendus veritatis necessitatibus. Architecto
                          sit qui dolorum nihil ea!</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-6">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-6" data-bs-toggle="collapse"
                      data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                      <button ngbAccordionButton> Are there rules to follow in the comments? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Perspiciatis iste atque in quis
                            recusandae libero maxime, quo sed itaque, totam quaerat earum dolorum accusantium? Optio quidem
                            aliquam corporis, nesciunt nobis incidunt numquam commodi debitis cumque quisquam eum veniam
                            quae eaque voluptates totam culpa aperiam sapiente minima sint sit facere dolorum excepturi ab
                            odit? Adipisci exercitationem distinctio dolores obcaecati eligendi explicabo, ipsa dicta,
                            tempore, enim molestias excepturi nihil vel! Quas, culpa.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-7">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-7" data-bs-toggle="collapse"
                      data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                      <button ngbAccordionButton> What currency does Finder use? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Dolores assumenda dolorem saepe,
                            consequatur praesentium alias numquam accusantium explicabo distinctio omnis voluptatum eum enim
                            aspernatur vel, minus optio dolore ratione quasi sunt. Ab distinctio laborum dolore explicabo
                            hic omnis iste quibusdam minus mollitia ad voluptate suscipit accusantium, laudantium sapiente?
                            Aperiam est minus veniam explicabo repellendus id velit sit adipisci quam in!</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-8">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-8" data-bs-toggle="collapse"
                      data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
                      <button ngbAccordionButton> How do I contact a seller privately? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-80 p-0">Exercitationem vel perferendis
                          temporibus corrupti laudantium sapiente. Nihil doloremque, tempora possimus cum aut cupiditate
                          blanditiis, voluptates amet exercitationem officia nam animi distinctio sapiente iste ratione
                          neque aspernatur? Voluptatum, nostrum maiores perspiciatis dolore consequatur minus voluptatem,
                          numquam sunt voluptate esse fugiat illum culpa praesentium. Hic dicta quam id.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3" class="nav-item w-100 px-2">
              <a ngbNavLink>
                Sell cars
              </a>
              <ng-template ngbNavContent>
                <div ngbAccordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                  <div ngbAccordionItem id="static-1">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-2" data-bs-toggle="collapse"
                      data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                      <button ngbAccordionButton> How do I take the best pictures of my car? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Porta mi integer lectus cras augue
                            amet tellus. Mus in justo orci est urna facilisis vitae. Sem sagittis potenti scelerisque justo,
                            etiam pharetra. In augue egestas nec rhoncus. Lectus tincidunt phasellus eu in erat eget id
                            egestas nec. Purus massa blandit nibh ut sed tellus. Sit cras aliquam velit tellus leo. Sed
                            vulputate erat dui eros, viverra. Cursus et nulla turpis sit. Egestas at non elementum non.
                            Molestie nunc, diam etiam diam. Ac et turpis vestibulum porta.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-2">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-2" data-bs-toggle="collapse"
                      data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                      <button ngbAccordionButton> How do I take the best pictures of my car? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Porta mi integer lectus cras augue
                          amet tellus. Mus in justo orci est urna facilisis vitae. Sem sagittis potenti scelerisque justo,
                          etiam pharetra. In augue egestas nec rhoncus. Lectus tincidunt phasellus eu in erat eget id
                          egestas nec. Purus massa blandit nibh ut sed tellus. Sit cras aliquam velit tellus leo. Sed
                          vulputate erat dui eros, viverra. Cursus et nulla turpis sit. Egestas at non elementum non.
                          Molestie nunc, diam etiam diam. Ac et turpis vestibulum porta.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-3">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-3" data-bs-toggle="collapse"
                      data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                      <button ngbAccordionButton> Can I sell a vehicle if I live outside of the United States? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Delectus perferendis libero ad
                            sapiente unde cupiditate vero error autem ex sed culpa beatae vel, alias amet quam officiis
                            repudiandae ab nobis! Animi ullam obcaecati praesentium at officia quos doloremque nihil aperiam
                            debitis quasi placeat atque, amet laborum illo voluptates autem totam in mollitia! At, autem,
                            ipsum quam minima doloribus distinctio aspernatur id et, cum reiciendis iste officia. Architecto
                            tempore deserunt voluptates?</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-4">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-4" data-bs-toggle="collapse"
                      data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                      <button ngbAccordionButton> How does the buyer get in contact with me and make payment? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Impedit iusto cum vitae pariatur.
                          Veritatis totam neque, libero non odio doloremque sequi ut, delectus optio cumque rerum illum?
                          Libero corrupti neque magnam aliquam tempora debitis at voluptate alias, facilis ipsa
                          dignissimos repellendus quaerat soluta dolorem ad ipsam nemo quisquam voluptatum quibusdam
                          dolorum. Labore qui saepe ducimus iure fuga accusamus, commodi quod ex sed excepturi corrupti!
                          Ducimus natus repellendus placeat mollitia harum nostrum similique earum qui ratione?</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-5">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-5" data-bs-toggle="collapse"
                      data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                      <button ngbAccordionButton> Who writes the listing description for my car? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Facere unde eveniet explicabo quidem,
                          quaerat, nesciunt, minus in vel incidunt natus qui recusandae neque laudantium est vitae ipsam?
                          Dolores natus nesciunt culpa accusantium tempora, recusandae, debitis, labore maxime a optio
                          similique rem nam fuga vel doloremque suscipit repellendus veritatis necessitatibus. Architecto
                          sit qui dolorum nihil ea!</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-6">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-6" data-bs-toggle="collapse"
                      data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                      <button ngbAccordionButton> Are there rules to follow in the comments? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                        <div class="accordion-body fs-sm text-light opacity-70 p-0">Perspiciatis iste atque in quis
                          recusandae libero maxime, quo sed itaque, totam quaerat earum dolorum accusantium? Optio quidem
                          aliquam corporis, nesciunt nobis incidunt numquam commodi debitis cumque quisquam eum veniam
                          quae eaque voluptates totam culpa aperiam sapiente minima sint sit facere dolorum excepturi ab
                          odit? Adipisci exercitationem distinctio dolores obcaecati eligendi explicabo, ipsa dicta,
                          tempore, enim molestias excepturi nihil vel! Quas, culpa.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-7">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-7" data-bs-toggle="collapse"
                      data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                      <button ngbAccordionButton> What currency does Finder use? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-70 p-0">Dolores assumenda dolorem saepe,
                            consequatur praesentium alias numquam accusantium explicabo distinctio omnis voluptatum eum enim
                            aspernatur vel, minus optio dolore ratione quasi sunt. Ab distinctio laborum dolore explicabo
                            hic omnis iste quibusdam minus mollitia ad voluptate suscipit accusantium, laudantium sapiente?
                            Aperiam est minus veniam explicabo repellendus id velit sit adipisci quam in!</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div ngbAccordionItem id="static-8">
                    <h2 ngbAccordionHeader class="accordion-header" id="heading-8" data-bs-toggle="collapse"
                      data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
                      <button ngbAccordionButton> How do I contact a seller privately? </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="accordion-body fs-sm text-light opacity-80 p-0">Exercitationem vel perferendis
                            temporibus corrupti laudantium sapiente. Nihil doloremque, tempora possimus cum aut cupiditate
                            blanditiis, voluptates amet exercitationem officia nam animi distinctio sapiente iste ratione
                            neque aspernatur? Voluptatum, nostrum maiores perspiciatis dolore consequatur minus voluptatem,
                            numquam sunt voluptate esse fugiat illum culpa praesentium. Hic dicta quam id.</div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <!-- Tabs content-->
        <div class="pt-3">
          <div class="accordion accordion-light" id="accordionFAQ">
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Us-->
  <section class="position-relative py-5">
    <!-- Overlay bg--><span class="d-block position-absolute top-0 left-0 w-100 h-100 zindex-1"
      style="background: linear-gradient(26.21deg, rgba(93, 60, 242, 0.15) 0%, rgba(253, 86, 49, 0.15) 108.88%);"></span>
    <!-- Overlay content-->
    <div class="container position-relative zindex-5 py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto px-0 text-center">
        <h2 class="text-light">Haven't found the answer? We can help.</h2>
        <p class="mb-4 pb-3 text-light opacity-70">Contact us and we’ll get back to you as soon as possible.</p><a
          class="btn btn-lg btn-primary" routerLink="/pages/contacts">Contact us</a>
      </div>
    </div>
  </section>

</main>

<!-- Footer-->
<app-footer></app-footer>