<!-- Header-->
<app-header id="top"></app-header>

<!-- Page content-->
<div class="container pt-5 pb-lg-4 mt-5 mb-sm-2">
  <!-- Breadcrumb-->
  <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

  <!-- Page content-->
  <div class="row">
    <!-- Sidebar-->
    <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
      <!-- Account nav-->
      <div class="card card-body card-light border-0 shadow-sm pb-1 me-lg-1">
        <div class="d-flex d-md-block d-lg-flex align-items-start pt-lg-2 mb-4"><img class="rounded-circle" src="assets/img/avatars/01.jpg" width="48" alt="Robert Fox">
          <div class="pt-md-2 pt-lg-0 ps-3 ps-md-0 ps-lg-3">
            <h2 class="fs-lg text-light mb-0">Robert Fox</h2><span class="star-rating"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i></span>
            <ul class="list-unstyled fs-sm mt-3 mb-0">
              <li><a class="nav-link-light fw-normal" href="tel:3025550107"><i class="fi-phone opacity-60 me-2"></i>(302) 555-0107</a></li>
              <li><a class="nav-link-light fw-normal" href="mailto:robert_fox@email.com"><i class="fi-mail opacity-60 me-2"></i>robert_fox&#64;email.com</a></li>
            </ul>
          </div>
        </div><a class="btn btn-primary btn-lg w-100 mb-3" routerLink="/vendor/sell-car"><i class="fi-plus me-2"></i>Sell car</a><a class="btn btn-outline-light d-block d-md-none w-100 mb-3" href="javascript:void(0);" data-bs-toggle="collapse" (click)="SideBarMenu()"><i class="fi-align-justify me-2"></i>Menu</a>
        <div class="collapse d-md-block mt-3" id="account-nav">
          <div class="card-nav">
            <a class="card-nav-link" routerLink="/account/info"><i class="fi-user me-2"></i>Personal Info</a>
            <a class="card-nav-link" routerLink="/account/security"><i class="fi-lock me-2"></i>Password &amp; Security</a>
            <a class="card-nav-link" routerLink="/account/cars"><i class="fi-car me-2"></i>My Cars</a>
            <a class="card-nav-link" routerLink="/account/wishlist"><i class="fi-heart me-2"></i>Wishlist<span class="badge bg-faded-light ms-2">4</span></a>
            <a class="card-nav-link active" routerLink="/account/reviews"><i class="fi-star me-2"></i>Reviews</a>
            <a class="card-nav-link" routerLink="/account/notifications"><i class="fi-bell me-2"></i>Notifications</a>
            <a class="card-nav-link" routerLink="/pages/help-center"><i class="fi-help me-2"></i>Help</a>
            <a class="card-nav-link" routerLink="/auth/signup"><i class="fi-logout me-2"></i>Sign Out</a>
          </div>
        </div>
      </div>
    </aside>
    <!-- Content-->
    <div class="col-lg-8 col-md-7 mb-5">
      <h1 class="h2 text-light">Reviews</h1>
      <p class="text-light pt-1 mb-4">Reviews you’ve received will be visible both here and on your public profile.</p>
      <!-- Nav tabs-->
      <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-light flex-column flex-sm-row align-items-stretch align-items-sm-start border-bottom border-light mb-4">
        <li [ngbNavItem]="1" class="nav-item me-sm-3 mb-3">
            <a ngbNavLink>
              Reviews about you
            </a>
            <ng-template ngbNavContent>
              <!-- Reviews about you tab-->
              <div class="tab-pane fade show active" id="reviews-about-you" role="tabpanel">
                <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between pb-4 mb-2 mb-md-3">
                  <h3 class="h4 mb-sm-0"><i class="fi-star-filled mt-n1 me-2 lead align-middle text-warning"></i><span class="text-light">4,9 (32 reviews)</span></h3>
                  <div class="d-flex align-items-center ms-sm-4">
                    <label class="fs-sm text-light me-2 pe-1 text-nowrap" for="review-sorting1"><i class="fi-arrows-sort mt-n1 me-2"></i>Sort by:</label>
                    <select class="form-select form-select-light form-select-sm" id="review-sorting1" (click)="SortFilter();">
                      <option value="">Newest</option>
                      <option value="Atitle">Oldest</option>
                      <option value="Dtitle">Popular</option>
                      <option value="Arating">High rating</option>
                      <option value="Drating">Low rating</option>
                    </select>
                  </div>
                </div>
                <!-- Review-->

                @for(data of aboutReviewData | sortBy:sortBy:sortField;track $index){
                <div class="mb-4 pb-4 border-bottom border-light">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="{{data.image}}" width="48" alt="Avatar">
                      <div class="ps-2">
                        <h6 class="fs-base text-light mb-0">{{data.title}}</h6>
                        <div class="text-light">
                          <span class="star-rating">
                            <ngb-rating [rate]="data.rating" [readonly]="true" [max]="5" class="stars"></ngb-rating>
                          </span>
                        </div>
                      </div>
                    </div><span class="text-light fs-sm opacity-50">{{data.date}}</span>
                  </div>
                  <p class="text-light opacity-70">{{data.content}}</p>
                  <div class="d-flex align-items-center">
                    <button class="btn-like btn-light" type="button"><i class="fi-like"></i><span>({{data.like}})</span></button>
                    <div class="border-end border-light me-1">&nbsp;</div>
                    <button class="btn-dislike btn-light" type="button"><i class="fi-dislike"></i><span>({{data.unlike}})</span></button>
                  </div>
                </div>
                }

                <!-- Pagination-->
                <nav class="mt-2" aria-label="Reviews pagination">
                  <ul class="pagination">
                    <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
                    <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
                    <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item d-none d-sm-block">...</li>
                    <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0);">8</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" aria-label="Next"><i class="fi-chevron-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2" class="nav-item me-sm-3 mb-3">
          <a ngbNavLink>
            Reviews by you
          </a>
          <ng-template ngbNavContent>
            <!-- Reviews by you tab-->
            <div class="tab-pane fade show active" id="reviews-by-you" role="tabpanel">
              <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between pb-4 mb-2 mb-md-3">
                <h3 class="h4 text-light mb-sm-0">3 reviews</h3>
                <div class="d-flex align-items-center ms-sm-4">
                  <label class="fs-sm text-light me-2 pe-1 text-nowrap" for="review-sorting2"><i class="fi-arrows-sort mt-n1 me-2"></i>Sort by:</label>
                  <select class="form-select form-select-light form-select-sm" id="review-sorting2" (click)="SortReviewFilter();">
                    <option value="">Newest</option>
                    <option value="Atitle">Oldest</option>
                    <option value="Dtitle">Popular</option>
                    <option value="Arating">High rating</option>
                    <option value="Drating">Low rating</option>
                  </select>
                </div>
              </div>
              <!-- Review-->

              @for(data of youReviewData | sortBy:sortReviewBy:sortReviewField;track $index){
              <div class="mb-4 pb-4 border-bottom border-light">
                <div class="d-flex justify-content-between mb-3">
                  <div class="pe-2">
                    <h6 class="text-light mb-0"> <span class="fw-normal opacity-70 me-1">For:</span>{{data.title}}</h6>
                    <div class="text-light">
                      <span class="star-rating">
                        <ngb-rating [rate]="data.rating" [readonly]="true" [max]="5" class="stars"></ngb-rating>
                      </span>
                    </div>
                  </div><span class="text-light fs-sm opacity-50">{{data.date}}</span>
                </div>
                <p class="text-light opacity-70">{{data.content}}</p>
                <div class="d-flex align-items-center">
                  <button class="btn-like btn-light" type="button"><i class="fi-like"></i><span>({{data.like}})</span></button>
                  <div class="border-end border-light me-1">&nbsp;</div>
                  <button class="btn-dislike btn-light" type="button"><i class="fi-dislike"></i><span>({{data.unlike}})</span></button>
                </div>
              </div>
              }
            </div>
          </ng-template>
        </li>
      </ul>
      <!-- Tabs content-->
      <div class="tab-content pt-2">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
</div>
</div>

  <!-- Footer-->
  <app-footer></app-footer>
