/* You can add global styles to this file, and also import other style files */
@import '~dropzone/dist/min/dropzone.min.css';


.slick-dots {
    bottom: -45px !important;
    li {
        button {
            &:before {
                content: "" !important;
                background-color: #fff;
                position: absolute;
                display: inline-block !important;
                width: 1rem !important;
                height: 0.375rem !important;
                margin: 0 0.3rem !important;
                padding: 0 !important;
                transition: width .2s ease-in-out, background-color .2s ease-in-out;
                border: 0;
                border-radius: 50rem;
            }
        }
    }
}
